<?php if (isset($_SESSION['errors'])): ?>
    <ul>
        <?php foreach ($_SESSION['errors'] as $error): ?>
            <li><?php echo $error ?></li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
<?php if (isset($_COOKIE['successprofile'])): ?>
    <h3><?php echo $_COOKIE['successprofile']; ?></h3>
<?php endif; ?>
<div class="col-md-6 col-sm-6">
    <h3>Edit your account information</h3>
    <form method="POST" class="basic-form">
        <p>User information</p>
        <label for="name">Name</label>
        <input type="text" name="name" value="<?php if (isset($_SESSION['data'])) {
            echo $_SESSION['data']['name'];
        } else {
            echo $queryData[0]['Name'];
        } ?>">
        <br>
        <label for="surname">Surname</label>
        <input type="text" name="surname" value="<?php if (isset($_SESSION['data'])) {
            echo $_SESSION['data']['surname'];
        } else {
            echo $queryData[0]['Surname'];
        } ?>">
        <br>
        <label for="phone">Phone number</label>
        <input type="tel" name="phone" value="<?php if (isset($_SESSION['data'])) {
            echo $_SESSION['data']['phone'];
        } else {
            echo $queryData[0]['PhoneNumber'];
        } ?>">
        <br>
        <p>Delivery information</p>
        <label for="street">Street name</label>
        <input type="text" name="street" value="<?php if (isset($_SESSION['data'])) {
            echo $_SESSION['data']['street'];
        } else {
            echo $queryData[0]['StreetName'];
        } ?>">
        <br>
        <label for="house">House number</label>
        <input type="text" name="house" value="<?php if (isset($_SESSION['data'])) {
            echo $_SESSION['data']['house'];
        } else {
            echo $queryData[0]['HouseNumber'];
        } ?>">
        <br>
        <label for="city">City</label>
        <input type="text" name="city" value="<?php if (isset($_SESSION['data'])) {
            echo $_SESSION['data']['city'];
        } else {
            echo $queryData[0]['City'];
        } ?>">
        <br>
        <label for=""></label>
        <input class="btn-submit" type="submit" value="Update">
    </form>

    <h3>Change password</h3>
    <form method="POST" class="basic-form">
        <label for="oldPassword">Old password</label>
        <input type="password" name="oldPassword">
        <br>
        <label for="password">New password</label>
        <input type="password" name="password">
        <br>
        <label for="passRepeat">Repeat password</label>
        <input type="password" name="passRepeat">
        <br>
        <label for=""></label>
        <input class="btn-submit" type="submit" value="Change password">
    </form>
</div>
<div class="col-md-6 col-sm-6 hidden-xs">
    <img class="img-responsive space-filling-image" src="<?= $wwwUrl ?>/images/tables2.jpg" alt="Tables">
</div>