<?php if (isset($_COOKIE['admin'])): ?>
    <?php if ($_COOKIE['admin'] == 'superSecretPhrase'): ?>

        <?php if (isset($oneMeal)): ?>
            <div class="admin-form">
                <h3>Product info for edit</h3>
                <form action="" method="POST" enctype="multipart/form-data" class="basic-form">
                    <label for="name">Product name</label>
                    <input type="text" name="name" value="<?= $oneMeal[0]['Name'] ?>">
                    <br>
                    <label for="description">Product description</label>
                    <textarea name="description" cols="30" rows="3"><?= $oneMeal[0]['Description'] ?></textarea>
                    <br>
                    <label for="">Current photo</label>
                    <img class="meal-current-image"
                         src="<?php echo $wwwUrl; ?>/images/meals/<?php echo $oneMeal[0]['Photo'] ?>" alt="">
                    <div class="photo-uploader">
                        <label for="photoToUpload">New product photo</label>
                        <input type="file" name="photoToUpload" value="<?= $oneMeal[0]['Photo'] ?>">
                    </div>

                    <br>
                    <label for="stockQuantity">Quantity in stock</label>
                    <input type="text" name="stockQuantity" value="<?= $oneMeal[0]['QuantityInStock'] ?>">
                    <br>
                    <label for="buyPrice">Buy price</label>
                    <input type="text" name="buyPrice" value="<?= $oneMeal[0]['BuyPrice'] ?>">
                    <br>
                    <label for="salePrice">Sale price</label>
                    <input type="text" name="salePrice" value="<?= $oneMeal[0]['SalePrice'] ?>">
                    <br>
                    <label for=""></label>
                    <input class="btn-submit" type="submit" value="Save changes">
                </form>
            </div>
        <?php endif; ?>

        <table class="generic-table meal-list">
            <caption>Products</caption>
            <thead>
            <tr>
                <td>Image</td>
                <td>Name</td>
                <td>Description</td>
                <td>Quantity in stock</td>
                <td>Buy price</td>
                <td>Sale price</td>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($meals as $meal): ?>
                <tr>
                    <td><img class="img-responsive"
                             src="<?php echo $wwwUrl; ?>/images/meals/<?php echo $meal['Photo'] ?>" alt=""></td>
                    <td><?php echo $meal['Name'] ?></td>
                    <td><?php echo $meal['Description'] ?></td>
                    <td><?php echo $meal['QuantityInStock'] ?></td>
                    <td>€<?php echo $meal['BuyPrice'] ?></td>
                    <td>€<?php echo $meal['SalePrice'] ?></td>
                    <td><a class="btn btn-default" href="?edit=<?= $meal['id'] ?>">Edit</a></td>
                    <td><a class="btn btn-default" href="?delete=<?= $meal['id'] ?>"
                           onclick="return confirm('Do you want to delete  <?= $meal['Name'] ?>?')">Delete</a></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>


    <?php endif; ?>
<?php endif; ?>