<!-- Message de notification -->

<!-- Code HTML à écrire -->
<?php if (isset($_COOKIE['successfulOrder'])): ?>
    <h3>You have successfully made an order</h3>
<?php endif; ?>
<!-- Liste des aliments -->

    <table class="generic-table meal-list hidden-xs">
        <caption>Meal menu</caption>
        <thead>
        <tr>
            <td>Meal picture</td>
            <td>Name</td>
            <td class="meal-description hidden-xs">Description</td>
            <td>Price</td>
            <td>Quantity</td>
            <td class=""></td>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($meals as $meal): ?>
            <tr>
                <td><img class="img-responsive meal-image"
                         src="<?php echo $wwwUrl; ?>/images/meals/<?php echo $meal['Photo'] ?>"
                         alt=""></td>
                <td><?php echo $meal['Name'] ?></td>
                <td class="meal-description hidden-xs"><?php echo $meal['Description'] ?></td>
                <td>€<?php echo $meal['SalePrice'] ?></td>
                <td>
                    <form>
                        <?php if ($meal['QuantityInStock'] > 0): ?>
                            <input name="quantity" type="number" value="1" min="1"
                                   max="<?= $meal['QuantityInStock'] ?>">
                        <?php else: ?>
                            Out of stock
                        <?php endif; ?>
                    </form>
                </td>
                <td class="">
                    <a class="add-to-cart btn btn-default <?= $meal['QuantityInStock'] == 0 ? 'disabled' : '' ?>"
                       href="#" data-meal-id="<?= $meal['id'] ?>">Add to cart</a>
                </td>
            </tr>

        <?php endforeach; ?>
        </tbody>
    </table>
<table class="generic-table meal-list visible-xs">
    <caption>Meal menu</caption>
    <thead>
    <tr>
        <td>Meal picture</td>
        <td>Name</td>
        <td>Quantity</td>
        <td class=""></td>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($meals as $meal): ?>
        <tr>
            <td><img class="img-responsive meal-image"
                     src="<?php echo $wwwUrl; ?>/images/meals/<?php echo $meal['Photo'] ?>"
                     alt=""></td>
            <td><?php echo $meal['Name'] ?> <p>€<?php echo $meal['SalePrice'] ?></p></td>
            <td>
                <form>
                    <?php if ($meal['QuantityInStock'] > 0): ?>
                        <input name="quantity" type="number" value="1" min="1"
                               max="<?= $meal['QuantityInStock'] ?>">
                    <?php else: ?>
                        Out of stock
                    <?php endif; ?>
                </form>
            </td>
            <td class="">
                <a class="add-to-cart btn btn-default <?= $meal['QuantityInStock'] == 0 ? 'disabled' : '' ?>"
                   href="#" data-meal-id="<?= $meal['id'] ?>">+</a>
            </td>
        </tr>

    <?php endforeach; ?>
    </tbody>
</table>