<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtle's thought</title>
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/normalize-3.0.3.min.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/font-awesome-4.3.0.min.css">
    <link rel="shortcut icon" href="<?= $wwwUrl ?>/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="<?= $wwwUrl ?>/images/favicon.ico" type="image/x-icon">

    <!-- Stylesheets application -->
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/js/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/js/jquery-ui/jquery-timepicker/dist/jquery-ui-timepicker-addon.min.css">
    <!--    <link rel="stylesheet" href="--><? //= $wwwUrl ?><!--/css/3wa-resto.css">-->
    <!--    <link rel="stylesheet" href="--><? //= $wwwUrl ?><!--/css/ui-button.css">-->
    <!--    <link rel="stylesheet" href="--><? //= $wwwUrl ?><!--/css/ui-form.css">-->
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/ui-table.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Karla">
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Shadows+Into+Light|Ubuntu" rel="stylesheet">
    <!-- Library jQuery -->
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="<?= $wwwUrl ?>/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="<?= $wwwUrl ?>/js/jquery-ui/jquery-timepicker/dist/jquery-ui-timepicker-addon.min.js"></script>

    <!-- JavaScript of application -->
    <script src="<?= $wwwUrl ?>/js/utilities.js"></script>
</head>
<!-- for nav buttons that are active-->
<style>
    a[href="<?php echo $_SERVER['PHP_SELF']; ?>"] {
        color: #000000 !important;
    }
</style>
<!-- nav buttons that are active END-->
<body>

<!-- Common HEADER -->
<header>

    <!--    bootstrap nav bar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<?= $requestUrl ?>"><img src="<?= $wwwUrl ?>/images/logo.png" alt="logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="<?= $requestUrl ?>">Menu</a></li>
                    <li><a href="<?= $requestUrl ?>/reservations">Table Reservations</a></li>
                    <?php if (isset($_COOKIE['admin'])): ?>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Admin Panel<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="<?= $requestUrl ?>/admin/newproduct">Add new product</a></li>
                                <li><a href="<?= $requestUrl ?>/admin/editproduct">Edit product</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="<?= $requestUrl ?>/admin/editusers">Edit user</a></li>
                            </ul>
                        </li>
                        <li><a href="<?= $requestUrl ?>/contacts">Contacts</a></li>
                    <?php endif; ?>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <?php if (!isset($_COOKIE['user'])): ?>
                        <li><a href="<?= $requestUrl ?>/register">Register</a></li>
                        <li><a href="<?= $requestUrl ?>/login">Login</a></li>
                    <?php endif; ?>
                    <?php if (isset($_COOKIE['user'])): ?>
                        <li><a href="<?= $requestUrl ?>/profile">Profile</a></li>
                        <li><a href="<?= $requestUrl ?>?logout">Logout</a></li>
                    <?php endif; ?>
                    <li class="dropdown">
                        <a href="<?= $requestUrl ?>/cart" class="dropdown-toggle cart-total-sum" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Cart €<?php if (isset($_SESSION['totalSum'])) {
                                echo $_SESSION['totalSum'];
                            } else {
                                echo '0';
                            } ?><span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-cart" role="menu">
                            <div class="dropdown-cart-items">
                                <?php if (isset($_SESSION['cartDropdown']) && count($_SESSION['cartDropdown']) > 0): ?>
                                    <?php foreach ($_SESSION['cartDropdown'] as $cartMeal): ?>
                                        <li>
                              <span class="item">
                                <span class="item-left">
                                    <img src="<?php echo $wwwUrl; ?>/images/meals/<?php echo $cartMeal['Photo'] ?>"
                                         alt=""/>
                                    <span class="item-info">
                                        <span><?= $cartMeal['Name'] ?></span>
                                        <span><?= $cartMeal['quantity'] ?>X</span>
                                    </span>
                                </span>
                                <span class="item-right">
                                    <span>€<?= $cartMeal['SalePrice'] * $cartMeal['quantity'] ?></span>
                                </span>
                            </span>
                                        </li>
                                    <?php endforeach; ?>
                                <?php else: ?>
                                    <li class="text-center">Your cart is empty</li>
                                <?php endif; ?>
                            </div>
                            <li class="divider"></li>
                            <li><a class="text-center" href="<?= $requestUrl ?>/cart">Go to cart</a></li>
                        </ul>
                    </li>
                </ul>
                </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--    end of bootstrap navbar-->


</header>


<main>
    <h2 class="header-name">Medium-paced food restaurant</h2>
    <h1 class="header-name">"Turtle's thought"</h1>
    <div class="container">
        <!-- template display sight-related -->
        <?php include $this->viewData['template'] ?>
    </div>
</main>

<!-- common FOOTER -->
<footer class="">
    <div class="container">
        <div class="col-md-4" id='payments-accepted'>
            <ul class="link-list">
                <li><img src="<?= $wwwUrl ?>/images/payment/coin.png" alt="Euros"></li>
                <li><img src="<?= $wwwUrl ?>/images/payment/visa-pay-logo.png" alt="Visa"></li>
                <li><img src="<?= $wwwUrl ?>/images/payment/mastercard.png" alt="MasterCard"></li>
                <li><img src="<?= $wwwUrl ?>/images/payment/paypal.png" alt="PayPal"></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="header-name" id="footer-name">Turtle's thought</h2>
        </div>
        <div class="col-md-4" id='social-networks'>
            <ul class="link-list">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-foursquare" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <div id="lower-footer">
        <small>© lukasusas. All rights reserved. <?= date('Y'); ?></small>
    </div>

</footer>

<!-- Main code JavaScript application -->
<script src="<?= $wwwUrl ?>/js/bootstrap.min.js"></script>
<script src="<?= $wwwUrl ?>/js/main.js"></script>
</body>
</html>

