<?php if (isset($_SESSION['errors'])): ?>
    <ul>
        <?php foreach ($_SESSION['errors'] as $error): ?>
            <li><?php echo $error ?></li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
<?php if(isset($_COOKIE['successregister'])): ?>
    <h3>You have successfully registered!</h3>
<?php endif; ?>
<h3>Register an account</h3>
<form method="POST" class="basic-form">
    <p>User information</p>
    <label for="name">Name</label>
    <input type="text" name="name" value="<?php if (isset($_SESSION['data'])){echo $_SESSION['data']['name'];} ?>">
    <br>
    <label for="surname">Surname</label>
    <input type="text" name="surname" value="<?php if (isset($_SESSION['data'])){echo $_SESSION['data']['surname'];} ?>">
    <br>
    <label for="email">Email</label>
    <input type="email" name="email" value="<?php if (isset($_SESSION['data'])){echo $_SESSION['data']['email'];} ?>">
    <br>
    <label for="phone">Phone number</label>
    <input type="tel" name="phone" value="<?php if (isset($_SESSION['data'])){echo $_SESSION['data']['phone'];} ?>">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" >
    <br>
    <label for="passRepeat">Repeat password</label>
    <input type="password" name="passRepeat">
    <br>
    <p>Delivery information</p>
    <label for="street">Street name</label>
    <input type="text" name="street" value="<?php if (isset($_SESSION['data'])){echo $_SESSION['data']['street'];} ?>">
    <br>
    <label for="house">House number</label>
    <input type="text" name="house" value="<?php if (isset($_SESSION['data'])){echo $_SESSION['data']['house'];} ?>">
    <br>
    <label for="city">City</label>
    <input type="text" name="city" value="<?php if (isset($_SESSION['data'])){echo $_SESSION['data']['city'];} ?>">
    <br>
    <input class="btn btn-submit" type="submit" value="Register">
</form>