<!--<form action="" method="post">-->
<!--    <input type="submit" value="order">-->
<!--</form>-->
<? if (isset ($_SESSION['totalSum'])): ?>
    <form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post" id="paypal-form">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="lukas@banga.eu">
        <input type="hidden" name="currency_code" value="EUR">
        <input type="hidden" name="item_name" value="Invoice">
        <input type="hidden" name="amount" value="<?= $_SESSION['totalSum'] ?>">
        <input id="btn-paypal" type="image"
               src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" border="0"
               name="submit" alt="Make payments with PayPal - it\'s fast, free and secure!">
    </form>
<?php else: ?>
    <h3>Your cart is empty</h3>
<?php endif; ?>

<?php
unset($_SESSION['cart']);
unset($_SESSION['totalSum']);
unset($_SESSION['cartDropdown']);
?>