<?php if (isset($_COOKIE['admin'])): ?>
    <?php if ($_COOKIE['admin'] == 'superSecretPhrase'): ?>


        <div class="admin-form">
            <h3>Add new product</h3>
            <form action="" method="POST" enctype="multipart/form-data" class="basic-form">
                <label for="name">Product name</label>
                <input type="text" name="name">
                <br>
                <label for="description">Product description</label>
                <textarea name="description" cols="30" rows="3"></textarea>
                <br>
                <label for="photoToUpload">Product photo</label>
                <input type="file" name="photoToUpload">
                <br>
                <label for="stockQuantity">Quantity in stock</label>
                <input type="text" name="stockQuantity">
                <br>
                <label for="buyPrice">Buy price</label>
                <input type="text" name="buyPrice">
                <br>
                <label for="salePrice">Sale price</label>
                <input type="text" name="salePrice">
                <br>
                <label for=""></label>
                <input class="btn-submit" type="submit" value="Add new product">
            </form>
        </div>


    <?php endif; ?>
<?php endif; ?>