<?php if (isset($_COOKIE['admin'])): ?>
    <?php if ($_COOKIE['admin'] == 'superSecretPhrase'): ?>

        <?php if (isset($_GET['editUserID'])): ?>
            <div class="admin-form">
                <h3>User information editing mode</h3>
                <form action="" method="post" class="basic-form">
                    <label for="name">Name</label>
                    <input type="text" name="name" value="<?= $userInfo['Name'] ?>">
                    <br>
                    <label for="surname">Surname</label>
                    <input type="text" name="surname" value="<?= $userInfo['Surname'] ?>">
                    <br>
                    <label for="email">Email</label>
                    <input type="text" name="email" value="<?= $userInfo['Email'] ?>">
                    <br>
                    <label for="phone">Phone Number</label>
                    <input type="text" name="phone" value="<?= $userInfo['PhoneNumber'] ?>">
                    <br>
                    <label for="street">Street name</label>
                    <input type="text" name="street" value="<?= $userInfo['StreetName'] ?>">
                    <br>
                    <label for="house">House number</label>
                    <input type="text" name="house" value="<?= $userInfo['HouseNumber'] ?>">
                    <br>
                    <label for="city">City</label>
                    <input type="text" name="city" value="<?= $userInfo['City'] ?>">
                    <br>
                    <label for="role">Role</label>
                    <input type="text" name="role" value="<?= $userInfo['Role'] ?>">
                    <br>
                    <label for="password">Password(leave empty to keep current)</label>
                    <input type="text" name="password">
                    <br>
                    <label for=""></label>
                    <input class="btn-submit" type="submit" value="Edit user">
                </form>
            </div>
        <?php endif; ?>


        <table class="generic-table meal-list">
            <caption>All Users</caption>
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Surname</td>
                <td>Email</td>
                <td>Phone Number</td>
                <td>Stree tName</td>
                <td>House Number</td>
                <td>City</td>
                <td>Creation Date</td>
                <td>Last Login</td>
                <td>Role</td>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($users as $user): ?>
                <tr>
                    <td><?= $user['id'] ?></td>
                    <td><?= $user['Name'] ?></td>
                    <td><?= $user['Surname'] ?></td>
                    <td><?= $user['Email'] ?></td>
                    <td><?= $user['PhoneNumber'] ?></td>
                    <td><?= $user['StreetName'] ?></td>
                    <td><?= $user['HouseNumber'] ?></td>
                    <td><?= $user['City'] ?></td>
                    <td><?= $user['CreationDate'] ?></td>
                    <td><?= $user['LastLogin'] ?></td>
                    <td><?= $user['Role'] ?></td>
                    <td><a class="btn btn-default" href="?editUserID=<?= $user['id'] ?>">Edit</a></td>
                    <td><a class="btn btn-default" href="?deleteUserID=<?= $user['id'] ?>"
                           onclick="return confirm('Do you want to delete user: <?= $user['Email'] ?>?')">Delete</a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
        <h5>Roles: <strong>1 - Basic User, 2 - Mini User, 3 - Admin</strong></h5>


    <?php endif; ?>
<?php endif; ?>