<table class="generic-table meal-list">
    <caption>Your cart:</caption>
    <thead>
    <tr>
        <td class="hidden-xs">Meal picture</td>
        <td>Name</td>
        <td class="hidden-xs">Description</td>
        <td class="hidden-xs">Price</td>
        <td>Total amount</td>
        <td>Quantity</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($meals as $meal): ?>
        <tr id="mealID<?= $meal['id'] ?>">
            <td class="hidden-xs"><img class="img-responsive"
                                       src="<?php echo $wwwUrl; ?>/images/meals/<?php echo $meal['Photo'] ?>"
                                       alt=""></td>
            <td><?php echo $meal['Name'] ?></td>
            <td class="hidden-xs"><?php echo $meal['Description'] ?></td>
            <td class="hidden-xs">€<?php echo $meal['SalePrice'] ?></td>
            <td class="price-amount">€<?php echo $meal['SalePrice'] * $meal['quantity'] ?></td>
            <td>
                <form>
                    <input class="edit-cart" data-meal-id="<?= $meal['id'] ?>" name="quantity" type="number"
                           value="<?php echo $meal['quantity'] ?>" min="1"
                           max="<?= $meal['QuantityInStock'] ?>">
                </form>
            </td>
            <td>
                <a href="#" class="delete-from-cart btn btn-default" data-meal-id="<?= $meal['id'] ?>">X</a>
            </td>
        </tr>
    <?php endforeach; ?>
    <tfoot class="tfoot">
    <tr class="hidden-xs">
        <td></td>
        <td></td>
        <td></td>
        <td>Total amount:</td>
        <td id="cart-view-total-sum">€<?= $_SESSION['totalSum']; ?></td>
        <td>
            <?php if (!isset($_COOKIE['user'])): ?>
                <a class="btn btn-checkout" href="<?= $requestUrl ?>/login">Login</a>
            <?php else: ?>
                <a class="btn btn-checkout <?php if (!isset($_SESSION['totalSum']) || $_SESSION['totalSum'] == 0) {
                    echo 'disabled';
                } ?>" href="<?= $requestUrl ?>/cart/checkout">Checkout</a>
            <?php endif; ?>
        </td>
        <td></td>
    </tr>
    </tfoot>
    </tbody>
</table>

<div class="visible-xs pull-right">
    <p>Total amount: <span class="totalSum-mobile-cart">€<?= $_SESSION['totalSum']; ?></span></p>
    <?php if (!isset($_COOKIE['user'])): ?>
        <a class="btn btn-checkout" href="<?= $requestUrl ?>/login">Login</a>
    <?php else: ?>
        <a class="btn btn-checkout <?php if (!isset($_SESSION['totalSum']) || $_SESSION['totalSum'] == 0) {
            echo 'disabled';
        } ?>" href="<?= $requestUrl ?>/cart/checkout">Checkout</a>
    <?php endif; ?>
</div>