<div id="contacts-page">
    <section class="col-md-6 contact-info">
        <h3>Our contact information:</h3>
        <ul>
            <li><span><strong>Phone Number:</strong></span> <a href="tel:0012345678">0012345678</a></li>
            <li><span><strong>Email:</strong></span> <a
                    href="mailto:info@turtlesthought.com">info@turtlesthought.com</a></li>
            <li><span><strong>Address:</strong></span> Švitrigailos g. 8, Vilnius, Lithuania</li>
        </ul>
    </section>
    <section class="col-md-6 row">
        <div class="col-md-12" id="map"></div>
    </section>
    <script>
        function initMap() {
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 54.679088, lng: 25.267089},
                scrollwheel: false,
                zoom: 15
            });
            var markerImage = 'http://maps.google.com/mapfiles/ms/icons/snack_bar.png';
            var marker = new google.maps.Marker({
                position: {lat: 54.679088, lng: 25.267089},
                map: map,
                title: "Turtle's thought",
                icon: markerImage
            });
            marker.setMap(map);
        }
    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBltvsROdF0Izng5LnFi2dj0WPSWRnE4iE&callback=initMap"
        async defer></script>
</div>