<?php if (isset($_SESSION['errors'])): ?>
    <ul>
        <?php foreach ($_SESSION['errors'] as $error): ?>
            <li><?php echo $error ?></li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
<?php if (isset($_COOKIE['success'])): ?>
    <h3>You have successfully reserved a table!</h3>
<?php endif; ?>
<div class="col-md-6 col-sm-12">
    <h3>Table reservation form</h3>
    <form method="POST" class="basic-form">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="eg. John" value="<?php if (isset($_SESSION['data'])) {
            echo $_SESSION['data']['name'];
        } elseif (isset($userInfo)) {
            echo $userInfo[0]['Name'] . ' ' . $userInfo[0]['Surname'];
        } ?>">
        <br>
        <label for="persons">Number of persons</label>
        <input type="number" name="persons" placeholder="eg. 2" value="<?php if (isset($_SESSION['data'])) {
            echo $_SESSION['data']['persons'];
        } ?>">
        <br>
        <label for="date">Date</label>
        <input id="date" type="datetime" name="date" placeholder="YYYY-MM-DD" value="<?php if (isset($_SESSION['data'])) {
            echo $_SESSION['data']['date'];
        } ?>">
        <br>

        <label for="time">Time</label>
        <input id="time" type="datetime" name="time" placeholder="HH:mm" value="<?php if (isset($_SESSION['data'])) {
            echo $_SESSION['data']['time'];
        } ?>">
        <br>
        <label for="phone">Phone number</label>
        <input type="tel" name="phone" id="phone" value="<?php if (isset($_SESSION['data'])) {
            echo $_SESSION['data']['phone'];
        } elseif (isset($userInfo)) {
            echo $userInfo[0]['PhoneNumber'];
        } ?>">
        <br>
        <label for=""></label>
        <input class="btn-submit" type="submit" value="Reserve a table">
    </form>
</div>
<div class="col-md-6 col-sm-12 hidden-xs">
    <img class="img-responsive space-filling-image" src="<?= $wwwUrl ?>/images/tables.jpg" alt="Tables">
</div>

