/*dropdown cart css*/
ul.dropdown-cart {
    min-width: 250px;
}

ul.dropdown-cart li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
}

ul.dropdown-cart li .item:hover {
    background-color: #f3f3f3;
}


ul.dropdown-cart li .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left {
    float: left;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
    float: left;
}

ul.dropdown-cart li .item-left img {
    width: 50px;
}

ul.dropdown-cart li .item-left span.item-info {
    margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
    display: block;
}

ul.dropdown-cart li .item-right {
    float: right;
}

ul.dropdown-cart li .item-right button {
    margin-top: 14px;
}

/*end of dropdown cart css*/
/*Bootstrap overwriting*/
.btn-default {
    background-color: rgb(240, 45, 58);
    border-color: #F02D3A;
    transition: all 0.5s;
}

.btn-default:hover {
    background-color: #ffffff;
    border-color: #ffffff;
}

.generic-table tr:hover .btn-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-default:active:focus {
    background-color: rgb(240, 45, 58);
    border-color: #F02D3A;
}

.btn-default:focus {
    background-color: rgb(240, 45, 58);
    border-color: #F02D3A;
}

.navbar-default .navbar-nav > .open > a.dropdown-toggle,
.navbar-default .navbar-nav > .open > a.dropdown-toggle:hover,
.navbar-default .navbar-nav > .open > a.dropdown-toggle:hover:focus,
.navbar-default .navbar-nav > .open > a.dropdown-toggle:active:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000000;
}

.dropdown-menu {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(240, 45, 58, 0.8);
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: rgba(39, 48, 67, 0.2);
}

.dropdown-menu .divider {
    background-color: rgba(0, 0, 0, 0.8);
}
@media only screen
    and (max-device-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }

}

/*end ot bootstrap*/

/*Jquery UI restyling*/

.ui-corner-all {
    border-radius: 2px;
}

.ui-datepicker-header {
    margin: -.2em -.2em 0 -.2em;
}

.ui-widget-header {
    margin-right: -.2em;
    margin-top: -.2em;
    margin-left: -.2em;
}

/*end of jquery restyling*/
body {
    font-family: 'Ubuntu', sans-serif;
    /*font-family: 'Coming Soon', cursive;*/
    /*font-weight: 600;*/
    background: url('../images/background/cream_pixels.png');
}

main {
    margin-top: 80px;
    margin-bottom: 85px;
    min-height: calc(100vh - 173px);
}
@media only screen
and (max-device-width : 1024px)  {
    main{
        margin-bottom: 20px;
    }
}

h1, h2 {
    font-family: 'Shadows Into Light', cursive;
}

.header-name {
    text-align: center;
    color: #3d3d3d;
}

.header-name h1 {
    font-weight: bold;
}

.navbar-default {
    background-color: rgba(240, 45, 58, 1);
    border: none;
    border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #000000;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    position: relative;
    top: -15px;
    left: -5px;
}

#map {
    height: 50vh;
}

#contacts-page {
    margin-top: 40px;
}

.contact-info ul {
    list-style: none;
    padding-left: 20px;
}

.contact-info li {
    margin-bottom: 10px;
    margin-top: 30px;
}

.contact-info li span {
    display: inline-block;
    width: 120px;
}

.contact-info a {
    color: #F02D3A;
}

footer {
    margin-top: 20px;
    text-align: center;
    /*background-color: rgba(240, 45, 58, 1);*/
    background-color: #3d3d3d;
}

footer div#lower-footer {
    background-color: rgba(0, 0, 0, 0.1);
}

#payments-accepted li {
    margin-top: 10px;
}

#social-networks a {
    color: #F02D3A;
    font-size: 1.7em;
    margin: 0 15px 0 15px;
    padding: 5px 10px;
}

#social-networks li {
    margin-top: 10px;
}

#lower-footer small {
    color: #F02D3A;
}

.link-list {
    list-style: none;
    padding-left: 0;
}

.link-list li {
    display: inline-block;
}

#footer-name {
    color: #F02D3A;
    font-size: 26px;
    margin-top: 12px;
}

/*styling classes*/
.btn-submit {
    background-color: #F02D3A;
    color: #3d3d3d;
    border-radius: 4px;
    border: 1px solid #3d3d3d;
    margin-top: 10px;
}

.btn-submit:hover {
    color: #ffffff;
}

.btn-submit:active {
    background-color: #AE262E;
    outline: none;
}

.btn-submit:focus {
    outline: none;
}

.basic-form {
    display: inline-block;
}

.basic-form input,
.basic-form textarea {
    border: 1px solid #3d3d3d;
    padding-left: 5px;
    border-radius: 2px;
    width: 210px;
}

.basic-form label {
    width: 150px;
}

.basic-form input[type='file'] {
    display: inline-block;
}

.basic-form input[type='submit'] {
    width: 100%;
}

.basic-form .meal-current-image {
    max-width: 210px;
}

.space-filling-image {
    border-radius: 4px;
    opacity: 0.3;
    margin-top: 20px;

}

.btn-checkout {
    background-color: #3d3d3d;
    color: #F02D3A;
}

#paypal-form{
    text-align: center;
    margin-top: 40px;
}

.btn-checkout:hover {
    color: #ffffff;
}

.admin-form {
    text-align: center;
}

.admin-form label {
    text-align: left;
}