/*
 * Style des tableaux
 */

.generic-table {
    width: 100%;
}

.generic-table caption {
    /* structure */
    margin: 0.25em 0;

    /* presentation */
    color: #F02D3A;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}

.generic-table .colorful {
    color: #F02D3A;
}

.generic-table thead td {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
}

.generic-table .number {
    min-width: 75px;
    text-align: right;
}

.generic-table th {
    text-align: left;
}

.generic-table td,
.generic-table th {
    /* structure */
    padding: 0.5em;

    /* presentation */
    cursor: default;
}

.generic-table tfoot tr td {
    font-weight: bold;
    text-align: right;
}

.generic-table tfoot tr.small-notice td {
    font-size: 0.875em;
    font-weight: normal;
    text-align: center;
}

.generic-table tr td {
    transition: all 0.5s;
}

.generic-table tbody tr:not(.small-notice):hover td {
    background-color: #F02D3A;
    color: white;
}

.generic-table .tfoot tr:hover td {
    background-color: transparent;
    color: #333;
}

.generic-table tr:not(.small-notice):hover input[type='number'] {
    color: #000;
    border: 1px solid #ffffff;
}

.generic-table input[type='number'] {
    border-radius: 4px;
    border: 1px solid;
    text-align: right;
    max-width: 40px;
}

@media only screen
and (max-device-width: 1024px) {
    .generic-table input[type='number'] {
        min-width: 24px;
    }
    .generic-table {
        text-align: center;
    }
}
@media only screen
    and (min-device-width: 1024px) {
    .generic-table input[type='number'] {
        min-width: 37px;
    }
}

.generic-table img {
    border-radius: 4px;
}

/*.meal-description{*/
/*visibility: hidden;*/
/*width: 0px;*/
/*display: none;*/
/*transition: all 1s;*/
/*}*/
/*.generic-table tr:hover .meal-description{*/
/*visibility: visible;*/
/*width: auto;*/
/*display: table-cell;*/
/*transition: all 1s;*/
/*}*/
