<?php if (isset($_COOKIE['admin'])): ?>
    <?php if ($_COOKIE['admin'] == 'superSecretPhrase'): ?>



        <a style=" text-align: center; display: block; " href="<?= $requestUrl ?>/admin/newproduct">Add new product</a>
        <a style=" text-align: center; display: block; " href="<?= $requestUrl ?>/admin/editproduct">Edit products</a>
        <a style=" text-align: center; display: block; " href="<?= $requestUrl ?>/admin/editusers">Edit users</a>













    <?php endif; ?>
<?php endif; ?>