
<h3>Log in to your account</h3>
<form action="" method="POST" class="basic-form">
    <label for="email">Email address</label>
    <input type="text" name="email">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password">
    <br>
    <input class="btn btn-submit" type="submit" value="Login">
</form>